html {
    height: 100%;
    width: 100%;
  }
  
  .navpage{
          overflow: auto;
    white-space: nowrap;
          text-align:right;;
          width:100%;
          
      }
      .navpage a{
           display: inline-block;
          color:white;
          font-size:15px;
      }
  
      .navpage a:hover{
           
      
  /* 		border-width:2px; */
          border-style:solid;
          color:#f7f7f7;
          
          background:#38c274;
      }
  
  
  
  
  
  
  
  
  
  