
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-bg {
    background-image: url('https://images.hdqwalls.com/download/material-design-bright-colors-4k-eq-1336x768.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.container-table{
    display:grid;
    width:100%;
    
    grid-template-columns: 70% auto;
    align-items:center;
    
    /* justify-items: center; */
}

.item1{
    background-color: blueviolet;
    color:white;
    height: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
  
}




.item{
border: 1px solid rgb(191, 36, 253);
background-color: rgb(202, 200, 203);
color:rgb(10, 6, 248);
height: 30px;
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

text-align: center;
}
