* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {

  background: linear-gradient(45deg, rgb(9, 3, 87), rgb(176, 181, 247), rgb(5, 18, 134),red);
  /* background: rgb(41, 40, 40); */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: scroll;

}

body::-webkit-scrollbar {
  display: none;

}



header {
  background: linear-gradient(45deg, rgb(14, 14, 14), red);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  box-shadow: rgb(6, 6, 6) 0px 0px 10px 0px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;

}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.nav-menu ul li {
  display: inline;
  margin-right: 20px;
}

.nav-menu ul li:last-child {
  margin-right: 0;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 25px;

  position: relative;
}

.menu-toggle span {
  background-color: #fff;
  height: 3px;
  width: 30px;
  margin: 2px 0;
  transition: transform 0.2s;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-menu {
    
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
  }


  .nav-menu.open {
    display: inline-block;
    padding: 12px;
  }

  .menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
  }

  .menu-toggle.open span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
  }
}


.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: white;
}

span {
  color: rgb(249, 5, 245);
  font-family: cursive;
}

.main-content {
  text-decoration: underline;
  color: rgb(251, 247, 247);
  font-size: 25px;
}


.intro {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 50%);
  border: 1px solid red;
  padding-left: 5%;
}

.intro-paragraph {
  border: 1px solid red;
}

.intro-img {
  max-width: 40%;

}

.aboutme {
  word-spacing: 3px;
  color: rgb(247, 245, 249);
  text-shadow: -1px 0 rgb(12, 5, 11), 0 1px rgba(19, 18, 19, 0.59), 1px 0 black, 0 -1px black;
  font-size: 20px;
}

.resume-box {

  margin-right: 58%;
  text-align: right;
  border-radius: 20px;
  background: linear-gradient(-45deg, rgb(0, 170, 255), rgb(108, 6, 231), rgb(128, 0, 98))
}

.resume-box:hover {
  box-shadow: #faf9fb 0px 0px 13px 5px;
}

.resume {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: transparent;
  background-image: url(' https://media.giphy.com/media/YwtKMvvPlJ1sx5qlGs/giphy-downsized-large.gif ');
  background-position: center;
  -webkit-background-clip: text;

}


.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.projectsection {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 28px;
  padding: 10px;
  align-items: center;
  justify-content: center;

}

.projects:hover {
  border-bottom: 5px solid rgb(158, 3, 135);
  transform: scale(1.1);
  filter: brightness(100%);
  transition: 1s ease-in-out;
}

.projects {
  text-align: center;
  color: rgb(20, 20, 20);
  font-weight: 800;
  padding: 2px;
  font-size: 16px;
  border-radius: 5px;
}


.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.card {
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;


}



.skill-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  padding: 10px;
  align-items: center;
  justify-content: center;

}




.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.skill-name {
  width: 120px;
  font-size: 16px;
}

.html:hover {
  color: blue;

}

.css:hover {
  color: purple;
}

.js:hover {
  color: red;
}

.skill-level {
  width: 130px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;

}

.skill-percent {
  background: linear-gradient(90deg, red, purple);
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}



.myaccount {
  text-align: center;

}

.myaccount a {
  padding: 10px;
}

.copyright {
  background: linear-gradient(145deg, rgb(112, 71, 247), rgb(251, 85, 232), rgb(39, 199, 231));
  height: 70px;
  text-align: center;
  display: flex;
  color: rgb(251, 246, 246);
  font-size: 15px;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}