* {
    margin: 0;
    padding: 0;
}

body {
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */

    background-size: 100%;
    backdrop-filter: brightness(100%);
    background-attachment: fixed;
    background-image: url('https://img.freepik.com/free-vector/gradient-valentine-s-day-background_23-2149242406.jpg');
    font-family: Courier New;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 247, 247);
    text-align: center;
    width: 100%;
    height: 100vh;


}

.box {
    width: 100%;
    margin: 10px;
}


.container {
    max-width: 350px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 8px;
    background: rgb(5, 6, 45);


}

.container:hover {
    background: linear-gradient(45deg, pink, purple, red);
    transform: scale(1.1);
    filter: brightness(100%);
    transition: 1s ease-in-out;
    box-shadow: #f5f3f4 0px 0px 20px 18px;

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(242, 246, 242);
}

.input-container {
    margin-bottom: 10px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: rgb(5, 6, 45);
    box-shadow: 0px 0px 5px 3px rgb(22 190 224);
}

.result-container {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding: 10px;
    border-radius: 8px;
}

#loveScoreText {
    margin-bottom: 10px;
}

#newGameButton {
    background-color: #ff9900;
}

#newGameButton:hover {
    background-color: #ff6600;
}