* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(45deg, rgba(242, 29, 214, 0.893), rgb(115, 8, 245), rgb(219, 5, 243)); */
    background-image: url('https://media.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.gif');
    background-position: center;
    background-size: 250vh;
}


.container {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(242, 29, 214, 0.893), rgb(115, 8, 245), rgb(219, 5, 243));

}

.container:hover {
    box-shadow: rgb(255, 1, 255) 0px 0px 10px 8px;

    /* background: linear-gradient(45deg, rgba(29, 242, 50, 0.893), rgb(198, 8, 245), rgb(243, 5, 5)); */

    /* background-image: url('https://media.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.gif '); */

    /* background-position: center; */
}

p {
    color: rgb(243, 240, 240);
    font-weight:bold;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    font-family: cursive;

}

.enter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

input {
    margin-top: 20px;
    height: 30px;
    padding-left: 10px;
    width: 50%;
    border-radius: 8px;

}

input::placeholder {
    font-weight: 600;
}

button {
    margin-top: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    border-radius: 8px;
    background-color: blue;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 30px;

}

#imgqr {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color: red;

}